* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $color-white;
  font-size: $font-size-24;
  display: block;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  transition: 0.3s all ease;
}

input[type="checkbox"] {
  appearance: none;
  background: #fff;
  border: #999 solid 1px;
  border-radius: 3px;
  min-height: 15px;
  min-width: 15px;
}
input[type="checkbox"]:checked {
  background: $color-gold;
  border-color: $color-gold;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  background: transparent;
  border: #fff solid 3px;
  border-top: none;
  border-right: none;
  height: 5px;
  width: 8px;
  transform: rotate(-45deg);
}
