$color-gold: #916019;
$color-gray: #8d8d8d;
$color-light-gray: #e0e0e0;
$color-white: #ffffff;

$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-16: 16px;

$wrap-max-width: 1110px;
