* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
