header {
  display: flex;
  justify-content: space-between;
  @include pad {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  @include pad {
    img {
      display: none;
    }
    background: url("https://fakeimg.pl/150x150/") no-repeat;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  li {
    @include pad {
      width: 50%;
      margin-bottom: 10px;
    }
    a {
      background: #3399ff;
      color: #fff;
      padding: 10px;
      text-align: center;
      &:hover {
        background: orange;
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include pad {
    flex-direction: column;
  }
}

.content {
  width: 75%;
  padding: 10px;
  @include pad {
    width: 100%;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.5;
  }
}

.banners {
  width: 20%;
  padding: 5px;
  @include pad {
    width: 100%;
  }
}

footer {
  text-align: center;
}
