.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 24px;
}

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.border {
  border: 2px solid black;
}
